<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head('Students')}"></head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<div class="container mt-4">

    <h2>Attendance Management</h2>

    <form th:action="@{/attendance/mark}" method="get" class="mt-4">

        <div class="mb-3">
            <label class="form-label">Select Batch</label>
            <select name="batchId" class="form-select" required>
                <option value="">Select Batch</option>
                <option th:each="batch : ${batches}"
                        th:value="${batch.id}"
                        th:text="${batch.batchName + ' - ' + batch.subject}">
                </option>
            </select>
        </div>

        <div class="mb-3">
            <label class="form-label">Attendance Date</label>
            <input type="date" name="date" class="form-control" th:value="${selectedDate}" required>
        </div>

        <button type="submit" class="btn btn-primary">Continue</button>

        <a href="/students" class="btn btn-secondary">Students</a>
        <a href="/batches" class="btn btn-secondary">Batches</a>
        <a href="/enrollments" class="btn btn-secondary">Enrollments</a>

    </form>

</div>

</body>
</html>