<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head('Students')}"></head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<div class="container mt-4">
    <div class="d-flex justify-content-between mb-3">
        <h2>Students</h2>
        <a href="/students/new" class="btn btn-primary">Add Student</a>
    </div>
    <div class="form-card mb-4">

        <form th:action="@{/students}" method="get" class="row g-3">

            <div class="col-md-4">
                <label class="form-label">Search</label>
                <input type="text"
                       name="keyword"
                       class="form-control"
                       placeholder="Name, code, phone, school"
                       th:value="${keyword}">
            </div>

            <div class="col-md-3">
                <label class="form-label">Education Level</label>
                <select name="educationLevel" class="form-select">
                    <option value="">All Levels</option>
                    <option th:each="level : ${educationLevels}"
                            th:value="${level}"
                            th:text="${level}"
                            th:selected="${selectedEducationLevel == level.name()}">
                    </option>
                </select>
            </div>

            <div class="col-md-3">
                <label class="form-label">Grade</label>
                <select name="grade" class="form-select">
                    <option value="">All Grades</option>
                    <option th:each="grade : ${grades}"
                            th:value="${grade}"
                            th:text="${grade}"
                            th:selected="${selectedGrade == grade.name()}">
                    </option>
                </select>
            </div>

            <div class="col-md-2">
                <label class="form-label">Page Size</label>
                <select name="size" class="form-select">
                    <option value="5" th:selected="${pageSize == 5}">5</option>
                    <option value="10" th:selected="${pageSize == 10}">10</option>
                    <option value="20" th:selected="${pageSize == 20}">20</option>
                    <option value="50" th:selected="${pageSize == 50}">50</option>
                </select>
            </div>

            <div class="col-md-2 d-flex align-items-end">
                <div class="d-flex gap-2">
                    <button type="submit" class="btn btn-primary">Search</button>
                    <a href="/students" class="btn btn-secondary">Reset</a>
                </div>
            </div>
            <input type="hidden" name="page" value="0">
        </form>

    </div>

    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Level</th>
            <th>Grade</th>
            <th>Stream</th>
            <th>Phone</th>
            <th>Parent Phone</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="student : ${students}">
            <td th:text="${student.studentCode}"></td>
            <td th:text="${student.fullName}"></td>
            <td th:text="${student.educationLevel}"></td>
            <td th:text="${student.grade}"></td>
            <td th:text="${student.stream}"></td>
            <td th:text="${student.phone}"></td>
            <td th:text="${student.parentPhone}"></td>
            <td th:text="${student.status}"></td>
            <td>
                <a th:href="@{/students/edit/{id}(id=${student.id})}" class="btn btn-sm btn-warning">Edit</a>
                <a th:href="@{/students/delete/{id}(id=${student.id})}" class="btn btn-sm btn-danger"
                   onclick="return confirm('Are you sure?')">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <nav th:if="${totalPages > 1}" class="mt-4">
        <ul class="pagination justify-content-center">

            <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
                <a class="page-link"
                   th:href="@{/students(
                    page=${currentPage - 1},
                    size=${pageSize},
                    keyword=${keyword},
                    educationLevel=${selectedEducationLevel},
                    grade=${selectedGrade}
               )}">
                    Previous
                </a>
            </li>

            <li class="page-item"
                th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
                th:classappend="${i == currentPage} ? 'active'">

                <a class="page-link"
                   th:href="@{/students(
                    page=${i},
                    size=${pageSize},
                    keyword=${keyword},
                    educationLevel=${selectedEducationLevel},
                    grade=${selectedGrade}
               )}"
                   th:text="${i + 1}">
                </a>
            </li>

            <li class="page-item" th:classappend="${currentPage + 1 >= totalPages} ? 'disabled'">
                <a class="page-link"
                   th:href="@{/students(
                    page=${currentPage + 1},
                    size=${pageSize},
                    keyword=${keyword},
                    educationLevel=${selectedEducationLevel},
                    grade=${selectedGrade}
               )}">
                    Next
                </a>
            </li>

        </ul>
    </nav>

    <div class="text-center text-muted mt-2">
        Showing page
        <span th:text="${currentPage + 1}"></span>
        of
        <span th:text="${totalPages}"></span>
        |
        Total students:
        <span th:text="${totalItems}"></span>
    </div>
</div>

</body>
</html>